<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.EMCCNConnectionString"
            connectionString="Data Source=192.168.1.12;Initial Catalog=EMCCN;Persist Security Info=True;User ID=jb;Password=^Hsx9bu5t@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>